<conf>

    <!-- configuracion del email -->
    <email>
        <!-- tipo de conexion -->
        <config>
            <ssl>imap.gmail.com</ssl>
        </config>
        
        <auth>
            <user>UserEmail@gmail.com</user>
            <password>PASSWORD</password>
        </auth>
    </email>


    <!-- Los labels por los que se quiere buscar -->
    <labels>
        <label>pruebas</label>
    </labels>


    <!-- directorio en el que queremos poner las descargas -->
    <dir>archivos/</dir>

</conf>